modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Cron Jobs"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Cron Jobs"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm cron"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34455
externalPort = 3000

[[ports]]
localPort = 35553
externalPort = 3003

[[ports]]
localPort = 36687
externalPort = 6000

[[ports]]
localPort = 39711
externalPort = 3002

[[ports]]
localPort = 43141
externalPort = 4200

[[ports]]
localPort = 44351
externalPort = 5000

[[ports]]
localPort = 44749
externalPort = 5173

[[ports]]
localPort = 44987
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]
